@(user: Member)

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				TITLE
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample7">
			<ul class="nav navbar-nav">
				<li><a href="@routes.Application.templates()">すべてのテンプレート</a></li>
				<li><a href="#">URLからデザインを読み込む</a></li>
				<li><a href="@routes.Application.upload()">テンプレートのアップロード</a></li>
				<li><a href="@routes.Application.images()">全ての画像</a></li>
				<li><a href="@routes.AdminController.myPage()">マイページ</a></li>
			</ul>
			<a class="navbar-right" href="@routes.AdminController.logout()"><button type="button" class="btn btn-default navbar-btn">ログアウト</button></a>
		</div>
	</div>
</nav>