@(user: Member)

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				HOME
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample7">
			<ul class="nav navbar-nav">
				<li><a href="@routes.Application.templates()">すべてのテンプレート</a></li>
				<li><a href="#">URLからデザインを読み込む</a></li>
				<li><a href="@routes.Application.upload()">テンプレートのアップロード</a></li>
			</ul>
			@if(user == null) {
				<a class="navbar-right" href="/login"><button type="button" class="btn btn-default navbar-btn">ログイン</button></a>
			} else {
				<a class="navbar-right" href="/myPage"><button type="button" class="btn btn-default navbar-btn">@user.memberName</button></a>
			}
		</div>
	</div>
</nav>