@charset "UTF-8"

body {
    margin : 0;
}

.clearfix {
    clear : both;
}

.header .titleBar {
    padding : 0px 0px 0px 30px;
    font-size : 30px;
}

.header .titleBar p {
    margin : 0px;
    padding : 10px;
}

.menu {
    width : 100%;
    padding : 0;
    margin : 0;
    list-style-type : none;
}

.menu li {
    width : 20%;
    float : left;
    padding : 0;
    margin : 0;
    text-align : center;
}

.menu li a {
    width : auto;
    color : #fff;
    font-size : 12px;
    font-weight : bold;
    padding : 10px 0;
    text-decoration : none;
    display : block;
    background : #666;
}

.menu li a:hover {
    background : #555;
}

.wrapper {
    max-width : 1200px;
    margin-left : auto;
    margin-right : auto;
}

.content {
    float : left;
    width : 70%;
    background-color : gray;
    height : 500px;
    margin : 20px;
    padding : 10px;
}

.content p {
    color : white;
}

.sideBar {
    float : right;
    width : 15%;
    background-color : gray;
    margin : 20px;
    padding : 10px;
}

.sideBar ul {
    list-style-type : none;
}

.sideBar ul li a {
    color : white;
    text-decoration : none;
}

.footer {
    border-top : 1px solid black;
    height : 50px;
    text-align : center;
}

.titleBar {
    background-color : rgb(127, 127, 127);
}

.sideBar {
    color : rgb(166, 255, 0);
    background-color : rgb(128, 128, 128);
}

.footer {
    background-color : rgb(127, 127, 127);
}

.wrapper {
    border-color : rgb(166, 255, 0);
    background-color : rgb(166, 255, 0);
}

.menu {
    border-color : rgb(166, 255, 0);
    background-color : rgb(166, 255, 0);
}

.content {
    border : 10px solid rgb(166, 255, 0);
    color : rgb(166, 255, 0);
    background-color : rgb(166, 255, 0);
}

