			


			/*繝｡繧､繝ｳ/HOME縺ｮCSS*/
			* {
				box-sizing: border-box;
			}

			body {
				margin: 0;
				font-size: 13px;
				background-color: #FFF;
				font-family: "繝偵Λ繧ｮ繝手ｧ偵ざ ProN W3", "Hiragino Kaku Gothic ProN", "繝｡繧､繝ｪ繧ｪ", Meiryo, sans-serif;
				height: 100%;
			}

			#logo{

			}

			.clearfix {
				zoom: 1;
			}

			.clearfix:after {
				content: "";
				display: block;
				clear: both;
			}

			.header{
				background-color: #F6F6F6;
			}

			.header .menuBar .navbar-inverse{
				background-color: #373737;
				font-size: 12px;
			}

			.header .menuBar .navbar-header a{
				font-size: 30px;
				padding-right: 40px;
				padding-left: 30px;
			}

			.navbar-inverse .navbar-nav li a{
				color: #FFF;
			}

			.navbar-inverse .navbar-nav li.active a{
				color: #FFF;
				background-color: #373737;
			}

			.navbar-inverse .navbar-nav li:hover a{
				color: #9d9d9d;
			}

			.navbar-inverse .navbar-right{
				color: #FFF;
			}

			.navbar-inverse{
				margin-bottom: 0px;
			}

			.wrapper {
				margin: 0px;
				overflow: hidden;
				min-height: 510px;
				background-color: #f4f4f4;
			}

			.main {
				width: 980px;
				float: left;
				padding: 20px;
				margin: 10px 0px 0px 10px;
			}

			.main a{
				text-decoration: none;
			}

			.main .default{
				width: 850px;
				height: 550px;
				background-color: #FFF;
				text-align: center;
				padding-top: 30px;
				margin-left: 50px;
			}

			.main .default h3{
				margin-bottom: 70px;
				color: #808080;
			}

			.main .default img{
				margin-bottom: 50px;
			}

			.main .default button{
				width: 300px;
			}

			#sendForm input{
				width:  200px;
				margin: 20px 20px 20px 0px;
				background-color: #6d7993;
				color: #FFF;
			}

			.main .inHtml{
				background-color: #FFF;
				padding: 10px;
				margin-bottom: 15px;
			}

			#loading{
				display: none;
				width: 920px;
				height: 500px;
				background-color: #FFF;
				border: 1px solid #000;
				z-index: 1;
			}

			#loader{
				display: none;
				position: relative;
				top: 43%;
				left: 38%;
				width: 200px;
				height: 200px;
				text-align: center;
				color: #000;
				z-index: 2;
			}

			#loader h3{
				color: #808080;
			}

			#timeOut{
				display: none;
				width: 920px;
				height: 500px;
				background-color: #FFF;
				text-align: center;
				border: 1px solid #000;
				padding-top: 240px;
			}

			#timeOut h4{
				color: #808080;
			}

			.side  {
				float: right;
				position: relative;
				width: 230px;
				padding-bottom: 32768px;
				margin-bottom: -32768px;
				background-color: #FFF;
			}

			.side .fixnav .tempButton{
				margin: 40px 20px 40px 40px;
			}

			.side .fixnav .tempButton input{
    			width: 150px;
    			height: 90px;
			}

			.side .fixnav .panel-heading{
				background-color: #dcd0c0;
			}

			.fixnav {
				background-color: #FFF;
				width: 230px;
				margin-right: 0px;
				height: 610px;
				overflow: scroll;
			}

			.footer{
				border-top: 1px solid #a9a9a9;
				padding: 30px;
				margin-top: 0px;
				text-align: center;
			}

			.footer p{
				margin-bottom: 30px;
			}

			.noneTemp h2{
				margin-top: 200px;
				color: #808080;
			}




			/*繝ｭ繧ｰ繧､繝ｳ縺ｮCSS*/

			.wrapper .loginContainer{
				margin: 40px auto 0px auto;
				width: 430px;
				background-color: #FFF;
				border: 1px solid #c0c0c0;
				padding-left: 50px;
				padding-bottom: 40px;
			}

			.wrapper .loginContainer h2{
				margin-bottom: 40px;
				font-weight: bold;
			}

			.wrapper .loginContainer input{
				margin-bottom: 10px;
			}

			.wrapper .loginContainer input.btn{
				width: 325px;
				margin-bottom: 30px;
			}

			.wrapper .loginContainer a button{
				width: 325px;
			}




			/*譁ｰ隕丈ｽ懈�舌�ｮCSS*/

			.wrapper .accountContainer{
				margin: 40px auto 40px auto;
				width: 430px;
				background-color: #FFF;
				border: 1px solid #c0c0c0;
				padding-left: 50px;
				padding-bottom: 40px;
			}

			.wrapper .accountContainer h2{
				margin-bottom: 40px;
				font-weight: bold;
			}

			.wrapper .accountContainer input{
				margin-bottom: 10px;
			}

			.wrapper .accountContainer input.btn{
				width: 325px;
				margin-bottom: 30px;
			}




			/*繧｢繝�繝励Ο繝ｼ繝峨�ｮCSS*/

			.wrapper .uploadContainer{
				margin: 40px auto 40px auto;
				width: 800px;
				background-color: #FFF;
				border: 1px solid #c0c0c0;
				padding: 30px 0px 40px 50px;
			}

			.wrapper .uploadContainer h4{
				margin-bottom: 20px;
				display: none;
			}

			#dragAndDropHandler{
				width: 700px;
				border:2px dotted #808080;
				text-align: center;
				padding: 40px 10px 40px 10px;
				height: 200px;
			}

			#dragAndDropHandler h3{
				color: #808080;
			}

			.progressBar {
			    width: 200px;
			    height: 22px;
			    border: 1px solid #ddd;
			    border-radius: 5px;
			    overflow: hidden;
			    display:inline-block;
			    margin:0px 10px 5px 5px;
			    vertical-align:top;
			}
			  
			.progressBar div {
			    height: 100%;
			    color: #fff;
			    text-align: right;
			    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
			    width: 0;
			    background-color: #0ba1b5; border-radius: 3px;
			}

			.statusbar{
			    border-top:1px solid #A9CCD1;
			    min-height:25px;
			    width:700px;
			    padding:10px 10px 0px 10px;
			    vertical-align:top;
			}

			.statusbar:nth-child(odd){
			    background:#EBEFF0;
			}

			.filename{
				display:inline-block;
				vertical-align:top;
				width:250px;
			}

			.filesize{
				display:inline-block;
				vertical-align:top;
				color:#30693D;
				width:100px;
				margin-left:10px;
				margin-right:5px;
			}

			.uploadLinkButton{
				height: 22px;
				padding-bottom: 5px;
				padding-top: 0px;
				max-width: 100px;
			}

			.abort{
				background-color:#A8352F;
			    -moz-border-radius:4px;
			    -webkit-border-radius:4px;
			    border-radius:4px;display:inline-block;
			    color:#fff;
			    font-family:arial;font-size:13px;font-weight:normal;
			    padding:4px 15px;
			    cursor:pointer;
			    vertical-align:top
			}




			/*繝�繝ｳ繝励Ξ繝ｼ繝井ｸ�隕ｧ縺ｮCSS*/

			.wrapper .listContainer{
				margin: 20px;
				text-align: center;
			}

			.wrapper .listContainer .tempFilter{
				float: left;
			}

			.wrapper .listContainer .tempFilter a{
				color: #000;
			}

			#templates_list{
				min-height: 300px;
			}
 
			#templates_list .listImage .col-xs-3{
				margin-top: 30px;
			}

			#templates_list .listImage .tempName{
				width: 270px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-top: 10px;
				text-align: center;
			}

			#template_list .noneTemp{
				text-align: center;
			}		

			.pager{
				margin-left: 10px;
				margin-right: 10px;
			}




			/*逕ｻ蜒丈ｸ�隕ｧ縺ｮCSS*/

			.wrapper .imgContainer{
				margin: 40px 30px 40px 30px;
				text-align: center;
			}

			#img_list{
				min-height: 300px;
			}

			#img_list .listImage .col-xs-3{
				margin-top: 30px;
			}

			#img_list .listImage .imgName{
				width: 270px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-top: 10px;
				text-align: center;
			}

			.pager{
				margin-left: 10px;
				margin-right: 10px;
			}

			#tempN{
				margin-bottom: 30px;
			}

			#shumbPopup{
				border: 1px solid #000;
			}



			/*繝槭う繝壹�ｼ繧ｸ縺ｮCSS*/

			.wrapper .mypageContainer{
				margin: 20px auto 30px auto;
				width: 1200px;
			}

			.wrapper .mypageContainer .profile{
				float: right;
				width: 850px;
				background-color: #FFF;
				padding: 30px 0px 30px 175px;
				margin-right: 60px;
			}

			.wrapper .mypageContainer .row{
				float: right;
				width: 850px;
				background-color: #FFF;
				margin-right: 60px;
				padding: 30px 0px 30px 0px;
			}

			.wrapper .mypageContainer .password{
				float: right;
				width: 850px;
				background-color: #FFF;
				margin-right: 60px;
				padding: 30px 0px 30px 175px;
			}

			.wrapper .mypageContainer .editTemps{
				float: right;
				width: 850px;
				background-color: #FFF;
				margin-right: 60px;
				padding: 30px 0px 30px 0px;
				margin-bottom: 30px;
			}

			.wrapper .mypageContainer .editTemps .editTempList{
				min-height: 300px;
				text-align: center;
			}

			.wrapper .mypageContainer .editTemps .col-xs-4{
				margin-top: 10px;
			}

			.wrapper .mypageContainer .editTemps .tempName{
				width: 270px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-top: 10px;
				text-align: center;
			}

			.wrapper .mypageContainer .sideMenu{
				float: left;
				width: 200px;
				background-color: #FFF;
				margin-left: 30px;
			}

			.wrapper .mypageContainer .sideMenu li a{
				color: #000;
			}

			.wrapper .mypageContainer .sideMenu li.active a{
				/*color: #FFF;*/
				background-color: #d3d3d3;
			}

			#profileSubmit{
				margin-top: 40px;
				margin-left: 110px;
				width: 255px;
			}

			#colorSubmit{
				margin-top: 40px;
				margin-left: 300px;
				width: 255px;
			}

			#passSubmit{
				margin-top: 40px;
				margin-left: 110px;
				width: 255px;
			}

			#saveTmpButton{
				width: 300px;
				margin-top: 20px;
				margin-bottom: 30px;
			}

			#deleteTmpButton{
				width: 300px;
				background-color: #e57373;
			}




			/*繧ｫ繝ｩ繝ｼ蛻�譫舌�壹�ｼ繧ｸ縺ｮCSS*/
			.wrapper .analyzeContainer{
				padding-top: 20px;
				padding-left: 30px;
			}

			.wrapper .analyzeContainer input{
				margin-bottom: 20px;
			}

			#piechart{
				text-align: center;
				margin: 0px auto 0px auto;
				width: 900px; 
				height: 500px; 
			}




			/*繧ｫ繝ｩ繝ｼ繝壹�ｼ繧ｸ縺ｮCSS*/
			.wrapper .colorContainer{
				padding: 20px;
			}

			.wrapper .colorContainer .nav{
				width: 500px;
			}

			.wrapper .colorContainer a{
				color: #000;

			}

			.wrapper .colorContainer p{
				color: #808080;
				margin-top: 30px;
			}
			
			.wrapper .analyzeContainer .desc {
				margin-top: 10px;
			}
			
			.wrapper .analyzeContainer > p{
				color: #808080;
				margin-top: 30px;
			}

			.wrapper .colorContainer .colorContent .colorName{
				width: 190px;
				height: 100px;
				margin-bottom: 10px;
				text-align: center;
				padding-top: 30px;
			}




			/*about縺ｮCSS*/
			.wrapper .aboutContainer{
				width: 1100px;
				padding: 50px 40px 40px 40px;
				margin: 30px auto 30px auto;
				background-color: #FFF;
				min-height: 600px;
			}

			.wrapper .aboutContainer .aboutThis{
				text-align: center;
				margin-bottom: 180px;
			}

			.wrapper .aboutContainer .attention h2{
				border-bottom: 1px solid #808080;
			}












