@(user: Member)

@main("About", user){ 
	<div class="aboutContainer">
		<div class="aboutThis">
			<h1>MyCanvasとは?</h1><br>
			<h4>MyCanvasはWebサイトの配色を行えるサービスです。</h4>
			<h4>アップロードしたHTMLに対して、配色を試し、パターンを保存したり、新しくHTMLとして書き出すことができます。</h4>
		</div>
		<div class="attention">
			<h2>このサイトを利用するにあたって</h2><br>
			<h3>デザイン画面において</h3>
			<p>
				　1.親要素の上に子要素がある場合などに親要素に対して配色をしても変化が見られない場合があります。<br>
				　2.テキストの編集でテキストの中で<br>
				　　　　&lt;em>&lt;/em><br>
				　　　　&lt;strong>&lt;/strong><br>
				　　　　&lt;b>&lt;/b><br>
				　　　　&lt;span>&lt;/span><br>
				　　などで文字を囲んでいると囲んでいる部分しか変更できません。<br>

				　3.&lt;a>タグのリンクは誤操作を防ぐために削除させていただきます。
			</p><br>

			<h3>小タイトル2</h3>
			<p>内容2hogehogehogehogehogehogehogehogehogehogehgoehgoehogehogehogehgoehogehogehogehogehogehogehogehogehogehogehogehoge<br>hogehogehogehogehogehogehoge</p><br>
			<h3>小タイトル3</h3>
			<p>内容3hogehogehogehogehogehogehogehogehogehogehgoehgoehogehogehogehgoehogehogehogehogehogehogehogehogehogehogehogehoge<br>hogehogehogehogehogehogehoge</p><br>
			<h3>小タイトル4</h3>
			<p>内容4hogehogehogehogehogehogehogehogehogehogehgoehgoehogehogehogehgoehogehogehogehogehogehogehogehogehogehogehogehoge<br>hogehogehogehogehogehogehoge</p><br>
			<h3>小タイトル5</h3>
			<p>内容5hogehogehogehogehogehogehogehogehogehogehgoehgoehogehogehogehgoehogehogehogehogehogehogehogehogehogehogehogehoge<br>hogehogehogehogehogehogehoge</p><br>

		</div>
	</div>
}