@(user: Member)

@main("About", user){ 
	<div class="aboutContainer">
		<div class="aboutThis">
			<h1>MyCanvasとは?</h1><br>
			<h4>MyCanvasはあなたのWEBデザインをサポートするためのサービスです。</h4>
			<h4>
			アップロードしたHTMLに対して、配色を試し、パターンを保存したり、
			新しくHTMLとして書き出すことができます。
			他には、外部サイトの主な配色を分析する機能や、色見本帳ページなどがあります。
			</h4>
			@if(user == null) {
				<a href="/createAccount"><button class="btn btn-default btn-lg">アカウント登録して使う</button></a>
			}
		</div>
		<div class="attention">
			<h2>サイトの主要機能</h2><br>

			<h3>配色設定</h3>
			<h4>
			アップロードされているHTMLテンプレートに対し、配色を行うことができます。<br>
			また、配色だけではなく、テキストの色や文字の変更、ボーダーの設定なども行うことができます。
			</h4><br><br>

			<h3>会員登録</h3>
			<h4>
			会員登録して頂くと、下記のことができるようになります。<br/>
			・画像ファイルのアップロード<br/>
			・テンプレートの非公開設定<br/>
			・カラーパレットのカスタマイズ<br>
			</h4><br><br>

			<h3>外部サイトの配色分析</h3>
			<h4>
			外部のWEBサイトで使用されている主要な色を分析して、円グラフ形式で表示することができます。<br/>
			あなたのお気に入りのサイトの配色を調べてみましょう！
			</h4><br><br>

			<h3>色見本帳</h3>
			<h4>
			WEBデザインでよく利用される「原色140色」・「WEBセーフカラー216色」・「スタンダードカラー17色の」色見本帳です。<br>
			色をクリックするだけで16進数をコピーすることができて、地味に便利です！
			</h4><br><br><br><br>

			<h2>デザインをする上での留意点</h2><br><br>

			<ul class="list-group">
				<li class="list-group-item">																				1. 親要素の上に子要素を色を付けて配置し直しているので、親要素に対して配色をしても変化が見られない場合があります。
				</li>
				<li class="list-group-item">
					2. htmlのテキストの中で<br>
				　　　　&lt;em>&lt;/em><br>
				　　　　&lt;strong>&lt;/strong><br>
				　　　　&lt;b>&lt;/b><br>
				　　　　&lt;span>&lt;/span><br>
				　　などで文字を囲んでいると囲んでいる部分しか変更できません。
				</li>
				<li class="list-group-item">
					3. &lt;a>タグのリンクは誤操作を防ぐために削除させていただきます。
				</li>
			</ul>
		</div>
	</div>
}