@(user: Member)

@main("About", user){ 
	<div class="aboutContainer">
		<div class="aboutThis">
			<h1>MyCanvasとは?</h1><br>
			<h4>MyCanvasはあなたのWEBデザインをサポートするためのサービスです。</h4>
			<h4>
			アップロードしたHTMLに対して、配色を試し、パターンを保存したり、
			新しくHTMLとして書き出すことができます。
			他には、外部サイトの主な配色を分析する機能や、色見本帳ページなどがあります。
			</h4>
		</div>
		<div class="attention">
			<h2>このサイトを利用するにあたって</h2><br>
			<h3>デザイン画面において</h3>
			<p>
				　1.親要素の上に子要素がある場合などに親要素に対して配色をしても変化が見られない場合があります。<br>
				　2.テキストの編集でテキストの中で<br>
				　　　　&lt;em>&lt;/em><br>
				　　　　&lt;strong>&lt;/strong><br>
				　　　　&lt;b>&lt;/b><br>
				　　　　&lt;span>&lt;/span><br>
				　　などで文字を囲んでいると囲んでいる部分しか変更できません。<br>

				　3.&lt;a>タグのリンクは誤操作を防ぐために削除させていただきます。
			</p><br>

			<h3>外部サイトの配色分析</h3>
			<p>
			外部サイトで使用されている主要な色を分析して、円グラフ形式で表示することができます。<br/>
			あなたのお気に入りのサイトの配色を調べてみましょう！
			</p><br>
			<h3>色見本帳</h3>
			<p>
			WEBデザインでよく利用される「原色140色」・「WEBセーフカラー216色」・「スタンダードカラー17色の」色見本帳です。
			色をクリックするだけで16進数をコピーすることができて、地味に便利です！
			</p><br>
		</div>
	</div>
}