@(myform: Form[forms.Analyze] , colorsData : String, user : Member)

@import helper._

@implicitField = @{ FieldConstructor(fieldConstructor.fieldC.f) }

@main("analyze", user) {
	<div class='analyzeContainer'>
	<div class='desc'>
	<p>外部サイトの配色を分析します。<br>結果を表示するまで10秒ほどかかります。&lt;(_ _)&gt;</p>
	</div>
	<p>*URLはエンコードせずに入力してください。</p>
	@helper.form(action = routes.Application.doAnalyze(), 'id -> "analyzeForm") {
		@helper.inputText(myform("targetUrl"),'_label -> "分析したいサイトのURL", 'size -> 45, 'placeholder -> "分析したいURL (例) https://www.google.co.jp/")
		<input class="btn btn-primary" type="submit" value="分析する" id="analyzeSubmit" onClick="disabledButton('#analyzeForm', '#analyzeSubmit');">
	}

	@if(org.apache.commons.lang3.StringUtils.isNotEmpty(colorsData)) {
  		<div id="piechart" data-colors="@Html(colorsData)">
  		</div>
  	}
  	<script type="text/javascript">
  	var colorsData = $('#piechart').data('colors').split(",");
  	if(!_.isEmpty(colorsData)) {
      google.charts.load('current', {'packages':['corechart']});
      var chartData = [];
      chartData.push(['colorHex','per']);
      var colors = [];
      for(var i in colorsData) {
    	  var arr = colorsData[i].split(":");
    	  if(arr[0] == "その他") {
    		  chartData.push([arr[0],Number(arr[1])]);
        	  colors.push("transparent");  
    	  }	else	{
    		  chartData.push(["#" + arr[0],Number(arr[1])]);
        	  colors.push("#" + arr[0]);  
    	  }
      }
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(chartData);
        var options = {
          title : '配色の解析結果',
          colors : colors,
          backgroundColor: '#f4f4f4',
          border: "1px solid #000",
          pieSliceTextStyle: {
              color: '#000000'
          }
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
        $('#analyzeSubmit').attr('disabled', false);
      }
  	}
    </script>
	</div>
}