@(colors : List[entity.Color], judge : String, user : Member)

@main("色見本帳", user) {
	<script type="text/javascript">

		$(function(){
		  var lang = 'type=primary';
		  var match = location.search.match(/type=(.*?)(&|$)/);
		  if(match) {
		      lang = decodeURIComponent(match[0]);
		  }
		  console.log(lang);
		  if(lang ==  "type=primary"){
				$('#tabPrimary').addClass("active");
			}else if(lang == "type=safe"){
				$('#tabSafe').addClass("active");
			}else{
				$('#tabStandard').addClass("active");
			}
		});


	</script>
	<div class='colorContainer'>
		<ul class="nav nav-tabs" onLoad="checkActive(@judge)">
			<li role="presentation" id="tabPrimary"><a href='@routes.Application.colors()?type=primary'>原色140色</a></li>
			<li role="presentation" id="tabSafe"><a href='@routes.Application.colors()?type=safe'>WEBセーフカラー216色</a></li>
			<li role="presentation" id="tabStandard"><a href='@routes.Application.colors()?type=standard'>スタンダードカラー17色</a></li>
		</ul>
		<p>クリックすると16進数がコピーされます</p>
		<div class="colorContent">
			@for((color, index) <- colors.zipWithIndex) {
				<div class="col-xs-2" data-clipboard-text="@color.colorHex">
					<div class="colorName" style="cursor : pointer; background-color: @color.colorHex;">
						@if(color.colorName != null) {
							@color.colorName<br>
						}
						@color.colorHex<br>
					</div>
				</div>
			}
		</div>
	</div>
}