@(user: Member, message: String, myform: Form[models.Member])

@implicitFieldConstructor = @{ helper.FieldConstructor(myhelper.formFieldConstructor.render) } 

@import helper._

@main("login Page", user) {
<div class='confirmLoginContainer'>
	<h3>@message</h3>
	@helper.form(action = routes.AdminController.checkPassword()) {
		@inputText(myform("memberName"),'_label -> "ユーザーID",'_showConstraints -> false, 'size -> 45, 'readonly -> "true")
		@inputText(myform("password"),'_label -> "パスワード",'_showConstraints -> false, 'size -> 45, 'type -> "password")
		<input class="btn btn-primary" type="submit" value="ログイン">
	}
</div>
}
