@(user: Member, message: String, myform: Form[models.Member])

@implicitFieldConstructor = @{ helper.FieldConstructor(myhelper.formFieldConstructor.render) } 

@import helper._

@main("createAccount Page", user) {
<div class='container'>
	<h1>@message</h1>
	@helper.form(action = routes.AdminController.saveAccount()) {
		@inputText(myform("memberName"),'_label -> "ユーザー名")
		@inputText(myform("password"),'_label -> "パスワード")
		@inputText(myform("mail"),'_label -> "メールアドレス (任意)")
		<input type="submit" value="登録">
	}
</div>
}