@(user: Member, message: String, myform: Form[models.Member])

@implicitFieldConstructor = @{ helper.FieldConstructor(myhelper.formFieldConstructor.render) } 

@import helper._

@main("createAccount Page", user) {
<div class='accountContainer'>
	<h2>@message</h2>
	@helper.form(action = routes.AdminController.saveAccount()) {
		@inputText(myform("memberName"),'_label -> "ユーザー名", 'size -> 45)
		@inputText(myform("password"),'_label -> "パスワード", 'size -> 45, 'placeholder -> "6文字以上で入力してください")
		@inputText(myform("mail"),'_label -> "メールアドレス (任意)", 'size -> 45)
		<input class="btn btn-primary" type="submit" value="アカウント作成">
	}
</div>
}