@(member: models.Member, setting: Form[forms.MyPage])

@import helper._

@implicitField = @{ FieldConstructor(fieldConstructor.fieldC.f) }

@main("myPage", member) {
	@helper.form(action = routes.AdminController.saveColorSetting()) {
		<div class="mypageContainer">
		<script type="text/javascript">
			$(window).load(function(){
				$('#mypage').addClass("active");
			});
		</script>
		<!--<h1 style='margin-top : 20px;'>マイページ</h1>-->
			<div class="row">
				<div class="col-xs-4">
					@checkbox(setting("hsvpanel"))
					<div id="hsvflat" class="hsvflatOne"></div>
					<script>
					var targetData = {contentName:"hsvflatOne", targetName:"background"};
					$("#hsvflat").ColorPickerSliders({
							color: "rgb(36, 170, 242)",
							flat: true,
							sliders: false,
							swatches: false,
							hsvpanel: true
					},targetData);
					</script>
				</div>

				<div class="col-xs-4">
					@checkbox(setting("slider"))
					<div id="hslflat" class="hsvflatTwo"></div>
					<script>
					var targetData = {contentName:"hsvflatTwo", targetName:"background"};
					$("#hslflat").ColorPickerSliders({
							color: "rgb(36, 170, 242)",
							flat: true,
							order: {
									hsl: 1,
									cie: 2,
									preview: 3
							},
							swatches: false
					},targetData);
					</script>
				</div>

				<div class="col-xs-4">
					@checkbox(setting("swatche"))
					<div id="flat" class="hsvflatThree"></div>
					<script>
					var targetData = {contentName:"hsvflatThree", targetName:"background"};
					$("#flat").ColorPickerSliders({
							flat: true,
							sliders: false,
							invalidcolorsopacity: 0
					},targetData);
					</script>
				</div>
				@helper.inputText(setting("memberId"), 'type -> "hidden")
				<input type="submit" value="設定を保存" id="colorSubmit" class="btn btn-primary">
			</div>
			<div class="sideMenu">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="/editProfile ">ユーザー情報</a></li>
					<li role="presentation"><a href="/editPassword">パスワード</a></li>
					<li role="presentation" class="active"><a href="/editColor">カラーパレット</a></li>
				</ul>
			</div>
		</div>
	}
}