@(myform : Form[forms.ModifyPassword] , member : Member , message : String)

@import helper._

@implicitFieldConstructor = @{ helper.FieldConstructor(myhelper.formFieldConstructor.render) } 

@main("myPage", member) {
	@helper.form(action = routes.AdminController.doModifyPassword(), 'id -> "passForm") {
		<div class="mypageContainer">
			@if(!message.isEmpty()) {
				<h4>@message</h4>
			}
		<!--<script type="text/javascript">
			$(window).load(function(){
				$('#mypage').addClass("active");
			});
		</script>-->
		<!--<h1 style='margin-top : 20px;'>マイページ</h1>-->
			<div class='password'>
				@helper.inputText(myform("password"),'_label -> "現在のパスワード",'_showConstraints -> false, 'size -> 70, 'type -> "password")
				@helper.inputText(myform("newPassword"),'_label -> "新しいパスワード",'_showConstraints -> false, 'size -> 70, 'type -> "password")
				@helper.inputText(myform("confirmNewPassword"),'_label -> "新しいパスワード再入力",'_showConstraints -> false, 'size -> 70, 'type -> "password")
				<input type="submit" value="変更を保存" id="passSubmit" class="btn btn-primary" onClick="disabledButton('#passForm', '#passSubmit');">
			</div>
			<div class="sideMenu">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="/editProfile ">ユーザー情報</a></li>
					<li role="presentation" class="active"><a href="/editPassword">パスワード</a></li>
					<li role="presentation"><a href="/editColor">カラーパレット</a></li>
					<li role="presentation"><a href="/editTemplate">テンプレート</a></li>
				</ul>
			</div>
		</div>
	}
}