@(dto : dtos.PagingDto[Template], member : Member, snapShotsUrl : String)

@import helper._

@implicitFieldConstructor = @{ helper.FieldConstructor(myhelper.formFieldConstructor.render) } 

@main("myPage", member) {
		<div class="mypageContainer">
			<div class="editTemps">
				<div class="clearfix">
					<div class="editTempList">
						@if(dto.data.zipWithIndex.isEmpty()){
							<div class="noneTemp">
								<h2>テンプレートの投稿がありません</h2>
							</div>
						}else{
							@for((t, index) <- dto.data.zipWithIndex) {
								<div class="col-xs-4">
									@if(t.member != null){
										@if(t.member.nickName.isEmpty()){
											<a onClick="showEditTemp('@t.templateId', '@snapShotsUrl');" class="@t.templateId" data-name="@t.templateName" data-message="@t.templateMessage" data-user="@t.member.memberName" data-flg="@t.accessFlag" href="#modal">
										}else{
											<a onClick="showEditTemp('@t.templateId', '@snapShotsUrl');" class="@t.templateId" data-name="@t.templateName" data-message="@t.templateMessage" data-user="@t.member.nickName" data-flg="@t.accessFlag" href="#modal">
										}
									}else{
										<a onClick="showEditTemp('@t.templateId', '@snapShotsUrl');" class="@t.templateId" data-name="@t.templateName" data-message="@t.templateMessage" data-user="anonymous" data-flg="@t.accessFlag" href="#modal">
									}
									<div>
										<img width="260" height="200" src='@(snapShotsUrl)/@(t.templateId).png'/>
									</div>
									<div class="tempName">
										@t.templateName
									</div>
										</a>	
								</div>
							}
						}
					</div>
				</div>
				<ul class="pager pager-margin">
						@dto.currentPage match {
					    	case i if i <= 1 => {}
					    	case _ => { <li class="previous"><a href="@routes.Application.templates()?page=@(dto.currentPage - 1)">&larr; 前へ</a></li> }
						}
						@dto.currentPage match {
					    	case i if i >= dto.totalPage => {}
					    	case _ => { <li class="next"><a href="@routes.Application.templates()?page=@(dto.currentPage + 1)">次へ &rarr;</a></li> }
						}
				</ul>
			</div>

			<div class="sideMenu">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="/editProfile ">ユーザー情報</a></li>
					<li role="presentation"><a href="/editPassword">パスワード</a></li>
					<li role="presentation"><a href="/editColor">カラーパレット</a></li>
					<li role="presentation" class="active"><a href="/editTemplate">テンプレート</a></li>
				</ul>
			</div>

			<div id="popUp">
				<div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
				  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
				  <div class="remodal-content">
				  	<form action="#" method="post" id="updateTmp">
					  	<img src='#' width="260" height="200" id="eShumbPopup"/><br><br>
						  	テンプレート名<br><input type="text" id="eTempN" size="40" name="templateName"></input><br><br>
						  	コメント<br><textarea id="eTempM" rows="4" cols="40" name="templateMessage"></textarea><br><br>
						  	<p>
						  		<input type="radio" name="templateFlg" value="0" id="flgPublic">公開</input>&nbsp
						  		<input type="radio" name="templateFlg" value="1" id="flgPrivate">非公開</input>
						  	</p>
					  	<input type="submit" class="remodal-confirm" value="更新" id="saveTmpButton">
					</form>
					<form action="#" method="post" id="deleteTmp">
						<input id="deleteTmpButton" type="submit" class="remodal-confirm" value="削除" onclick="return confirm('このテンプレートを削除します。本当によろしいですか')"></input>
				  	</form>
				  </div>
				</div>
			</div>
		</div>
}