@(user: Member, chooser: Chooser, path: String, tags: List[String])

@main("Color Scheme", user){ 
<script>
$(window).load(function(){
	fixFrameSize();
	var navi = $('.fixnav');
  			var main  = $('.main');
				var target_top = navi.offset().top - parseInt(navi.css('margin-top'),10);
  			var sub_top = main.offset().top - parseInt(main.css('margin-top'),10);
  			var sub_scroll = main.offset().top + main.outerHeight(true) - navi.outerHeight(true) - parseInt(navi.css('margin-top'),10);

  			if (navi.outerHeight(true) + target_top < main.outerHeight(true) + sub_top) {
    			$(window).scroll(function () {
      			var ws = $(window).scrollTop();
      			$('.scroll').text(ws);
      			if (ws > sub_scroll) {
        			navi.css({position:'fixed', top: sub_scroll - ws + 'px'});
      			} else if(ws > target_top) {
        			navi.css({position:'fixed', top: '0px'});
      			} else {
        			navi.css({position:'relative', top: '0px'});
      			}
    			});
  			}
});

function fixFrameSize() {
	if (window.parent) {
		var body = document.body;
		var height = body.scrollHeight;
		var iframe = window.parent.document.getElementsByTagName("iframe")[0];
		iframe.style.height = height + "px";
		iframe.scrolling = "no";
	}
}
</script>
	<div class="main">
		<div class="inHtml">
			<iframe src="@routes.Assets.at(path)" width="920px" name="template"></iframe>
		</div>
		<div class="button">
			<a href="#"><input type="button" value="登録"></a>
			<a href="#"><input type="button" value="CSSを書き出す"></a>
		</div>
	</div>
  <div class="side">
    <div class="fixnav">
			<div class="tempButton">
				<a href="#"><button class="button1">テンプレート表示</button></a>
			</div>
      <div class="classTags">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>className</th>
								<th>color</th>
							</tr>
						</thead>
						<!-- ここにスクライビングしてきたclassタグを入れる -->
						<tbody>
						@for(data <- tags){
							<tr>
								<td>@data</td>
								<td>COLOR</td>
							</tr>
						}
							<tr>
								<td>header.title</td>
								<td>
									<input type="text" class="form-control" id="full-popover" value="#A6FF00" data-color-format="hex">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="chooser" data-placement="'@chooser.placement'" data-hsvpanel="@chooser.hsvpanel" data-sliders="@chooser.slider" data-swatches="@chooser.swatche"></div>
	<script>
		$("input#full-popover").ColorPickerSliders({
			placement: $('#chooser').data('placement'),
			hsvpanel: $('#chooser').data('hsvpanel'),
			sliders: $('#chooser').data('sliders'),
			swatches: $('#chooser').data('swatches'),
			previewformat: 'hex'
		});
	</script>
}

				