@(user: Member, chooser: Chooser, path: String, tags: List[String], myForm: Form[forms.TemplateSave], id: String)

@import helper._

@implicitField = @{ FieldConstructor(fieldConstructor.fieldC.f) }

@main("Color Scheme", user){ 

<!--modalView-->
<div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="remodal-content">
  	<h1>HTMLの保存</h1>
  	<br><br>
  	@form(action = routes.Application.saveEditTemplate, 'id -> "saveHtmlForm"){
	    @(inputText(
	    	field = myForm("tempName"), args = 'class -> "nameForm", 'size -> 50, 'placeholder -> "HTMLの名前"
	    ))
	    <br><br>
	    @(textarea(
	    	field = myForm("tempMessage"), args = 'class -> "messageForm", 'rows -> 10, 'cols -> 50, 'placeholder -> "HTMLの説明"
	    ))
	    <br><br>
	    @if(user == null){

	    }else{
	    	@(inputRadioGroup(
	        	myForm("flg"),
	        	options = Seq("0"->"公開", "1"->"非公開")
	      	))
	      	<br><br>
	    }
	    <button data-remodal-action="cancel" class="remodal-cancel">キャンセル</button>
  		<input type="submit" class="remodal-confirm" value="保存">
	}
  </div>
</div>


<div id="chooser" data-placement="'@chooser.placement'" data-hsvpanel="@chooser.hsvpanel" data-sliders="@chooser.slider" data-swatches="@chooser.swatche"></div>
	<div class="main">
		<div class="inHtml">
			<div id="loading">
				<div id="loader">
				    <img src='@routes.Assets.at("images/loading.gif")' width="80" height="80" alt="Now Loading..." onLoad="setTimer(@id)"/>
				    <p>Now Loading...</p>
				</div>
			</div>
			<div id="afterLoad">
				<!--<iframe src="@routes.Assets.at(path)" width="920px" name="template" id="iframe"></iframe>-->
			</div>
		</div>
		<form method="post" id="sendForm" name="sendForm" action="/template/download">
			<div class="button">
			@if(user == null){
				<input type="button" value="登録" onClick="showPopup(null, @id);">
			}else{
				<input type="button" value="登録" onClick="showPopup(@user.memberId, @id);">
			}
				<input type="submit" value="HTMLを書き出す" onClick="sendHTML('#sendForm', @id);">
			</div>
		</form>
	</div>
  <div class="side">
    <div class="fixnav">
		<div class="tempButton">
			<form method="post" id="showTemp" name="showTemp" action="/template/detail">
				<input type = "submit" class="button1" value="プレビュー" onClick="sendHTML('#showTemp', @id);">
			</form>
		</div>
      <div class="classTags">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
						</thead>
						<tbody id="classTable">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

}

				