@(user: Member)

@main("Color Scheme", user){ 
	<div class="main">
		<div class="inHtml">
			<iframe src="@routes.Assets.at("iframe/iframe.html")" width="920px" name="template"></iframe>
		</div>
		<div class="button">
			<a href="#"><input type="button" value="登録"></a>
			<a href="#"><input type="button" value="CSSを書き出す"></a>
		</div>
	</div>
  <div class="side">
    <div class="fixnav">
			<div class="tempButton">
				<a href="#"><button class="button1">テンプレート表示</button></a>
			</div>
      <div class="classTags">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>className</th>
								<th>color</th>
							</tr>
						</thead>
						<!-- ここにスクライビングしてきたclassタグを入れる -->
						<tbody>
							<tr>
								<td>header.title</td>
								<td>red</td>
							</tr>
							<tr>
								<td>header</td>
								<td>white</td>
							</tr>
							<tr>
								<td>content</td>
								<td>#eeeeee</td>
							</tr>
							<tr>
								<td>content.main</td>
								<td>none</td>
							</tr>
							<tr>
								<td>content.sidebar</td>
								<td>green</td>
							</tr>
							<tr>
								<td>content.sidebar.button</td>
								<td>gray</td>
							</tr>
							<tr>
								<td>footer</td>
								<td>white</td>
							</tr>
							<tr>
								<td>footer.label</td>
								<td>black</td>
							</tr>
							<tr>
								<td>header.title</td>
								<td>red</td>
							</tr>
							<tr>
								<td>header</td>
								<td>white</td>
							</tr>
							<tr>
								<td>content</td>
								<td>#eeeeee</td>
							</tr>
							<tr>
								<td>content.main</td>
								<td>none</td>
							</tr>
							<tr>
								<td>content.sidebar</td>
								<td>green</td>
							</tr>
							<tr>
								<td>content.sidebar.button</td>
								<td>gray</td>
							</tr>
							<tr>
								<td>footer</td>
								<td>white</td>
							</tr>
							<tr>
								<td>footer.label</td>
								<td>black</td>
							</tr>
							<tr>
								<td>header.title</td>
								<td>red</td>
							</tr>
							<tr>
								<td>header</td>
								<td>white</td>
							</tr>
							<tr>
								<td>content</td>
								<td>#eeeeee</td>
							</tr>
							<tr>
								<td>content.main</td>
								<td>none</td>
							</tr>
							<tr>
								<td>content.sidebar</td>
								<td>green</td>
							</tr>
							<tr>
								<td>content.sidebar.button</td>
								<td>gray</td>
							</tr>
							<tr>
								<td>footer</td>
								<td>white</td>
							</tr>
							<tr>
								<td>footer.label</td>
								<td>black</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
    	</div>
    </div>
}

				