@(title: String, user: Member)(content: Html)

<!DOCTYPE html>

<html lang="ja">
	<head>
    <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1"/>

		<script src='@routes.Assets.at("javascripts/jquery.min.js")'></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<!-- 読み込むのもがないのでコメントアウト -->
		<!-- <script type="text/javascript" src="bootstrap.js"></script> -->

		<link href='@routes.Assets.at("stylesheets/bootstrap.colorpickersliders.css")' rel="stylesheet" type="text/css" media="all">
		<link href='@routes.Assets.at("stylesheets/remodal-default-theme.css")' rel="stylesheet" type="text/css" media="all">
		<link href='@routes.Assets.at("stylesheets/remodal.css")' rel="stylesheet" type="text/css" media="all">
		<link href='@routes.Assets.at("stylesheets/main.css")' rel="stylesheet" type="text/css" media="all">
		
		<script src='@routes.Assets.at("javascripts/config.js")'></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!-- 読み込みエラーが出てたのでコメントアウト -->
		<script src="//cdn.virtuosoft.eu/virtuosoft.eu/resources/prettify/prettify.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/0.11.1/tinycolor.min.js"></script>
		<script src='@routes.Assets.at("javascripts/bootstrap.colorpickersliders.js")'></script>
		<script src='@routes.Assets.at("javascripts/rgbcolor.js")'></script>
		<script src='@routes.Assets.at("javascripts/index.js")'></script>
		<script src='@routes.Assets.at("javascripts/remodal.js")'></script>
		<script src='@routes.Assets.at("javascripts/fileUpload.js")'></script>
	</head>

	<body>
		<div class="header">
			<div class="menuBar">
			@if(user == null) {
				@template.menuBar(user)
			}	else	{
				@template.loggedInMenuBar(user)
			}
			</div>
		</div>
		<div class="wrapper clearfix">
        	@content
      	</div>
      	<div class="footer">
      	  <p>ColorSchemeSystem All rights reserved.</p>
      	</div>
    </body>
</html>