@(title: String, user: Member)(content: Html)

<!DOCTYPE html>

<html lang="ja">
	<head>
    <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>@title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1"/>

		<script src='@routes.Assets.at("javascripts/jquery.min.js")'></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

		<link href='@routes.Assets.at("stylesheets/bootstrap.colorpickersliders.css")' rel="stylesheet" type="text/css" media="all">
		<link href='@routes.Assets.at("stylesheets/remodal-default-theme.css")' rel="stylesheet" type="text/css" media="all">
		<link href='@routes.Assets.at("stylesheets/remodal.css")' rel="stylesheet" type="text/css" media="all">
		<link href='@routes.Assets.at("stylesheets/main.css")' rel="stylesheet" type="text/css" media="all">
		
		<script src='@routes.Assets.at("javascripts/config.js")'></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="//cdn.virtuosoft.eu/virtuosoft.eu/resources/prettify/prettify.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/0.11.1/tinycolor.min.js"></script>
		<script src='@routes.Assets.at("javascripts/bootstrap.colorpickersliders.js")'></script>
		<script src='@routes.Assets.at("javascripts/rgbcolor.js")'></script>
		<script src='@routes.Assets.at("javascripts/index.js")'></script>
		<script src='@routes.Assets.at("javascripts/remodal.js")'></script>
		<script src='@routes.Assets.at("javascripts/fileUpload.js")'></script>
		<script src='@routes.Assets.at("javascripts/tempPopup.js")'></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src='@routes.Assets.at("javascripts/clipboard.min.js")'></script>
		<script>
        $(function () {
          var clipboard = new Clipboard('.clip');
        });
    </script>
    <script src='@routes.Assets.at("javascripts/underscore-min.js")'></script>
	</head>

	<body data-login="@if(user != null) {true} else {false}">
		<div class="header">
			<div class="menuBar">
			@if(user == null) {
				@template.menuBar(user)
			}	else	{
				@template.loggedInMenuBar(user)
			}
			</div>
		</div>
		<div class="wrapper clearfix">
        	@content
      	</div>
      	<div class="footer">
      	  <p>ColorSchemeSystem All rights reserved.</p>
      	</div>
    </body>
</html>