@(myform : Form[forms.ModifyPassword] , member : Member , message : String)

@import helper._

@implicitFieldConstructor = @{ helper.FieldConstructor(myhelper.formFieldConstructor.render) } 

@main("パスワード変更", member) {
<div class='container'>
	<h1>パスワード変更</h1>
	<p>@message</p>
	@helper.form(action = routes.AdminController.doModifyPassword()) {
		@helper.inputText(myform("password"),'_label -> "現在のパスワード",'_showConstraints -> false)
		@helper.inputText(myform("newPassword"),'_label -> "新しいパスワード",'_showConstraints -> false)
		@helper.inputText(myform("confirmNewPassword"),'_label -> "新しいパスワード再入力",'_showConstraints -> false)
		<input type="submit" value="送信">
	}
</div>
}