@(member: models.Member, setting: Form[forms.ChooserAdvancedSetting])

@import helper._

@main("myPage", member) {
	<p>id : @member.memberId</p>
	<p>name : @member.memberName</p>
	<p>password : @member.password</p>
	<p>mail : @member.mail</p>

	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
			ドロップダウン
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><a href="#">リンクのリスト１</a></li>
			<li role="presentation"><a href="#">リンクのリスト２</a></li>
			<li role="presentation"><a href="#">リンクのリスト３</a></li>
		</ul>
	</div>

	@helper.form(action = routes.Application.SaveChooserSetting()) {
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					@checkbox(setting("hsvpanel"),'_label -> "表示する")
					<div id="hsvflat"></div>
					<script>
					$("#hsvflat").ColorPickerSliders({
							color: "rgb(36, 170, 242)",
							flat: true,
							sliders: false,
							swatches: false,
							hsvpanel: true
					});
					</script>
				</div>

				<div class="col-xs-4">
					@checkbox(setting("slider"),'_label -> "表示する")
					<div id="hslflat"></div>
					<script>
					$("#hslflat").ColorPickerSliders({
							color: "rgb(36, 170, 242)",
							flat: true,
							order: {
									hsl: 1,
									cie: 2,
									preview: 3
							},
							swatches: false
					});
					</script>
				</div>

				<div class="col-xs-4">
					@checkbox(setting("swatche"),'_label -> "表示する")
					<div id="flat"></div>
					<script>
					$("#flat").ColorPickerSliders({
							flat: true,
							sliders: false,
							invalidcolorsopacity: 0
					});
					</script>
				</div>

			</div>
		</div>

		<input type="submit" value="設定を保存">
	}

	<a href="/"><input type="button" value="TOPへ"></a>
	<a href="/logout"><input type="button" value="ログアウト"></a>
}