@(member: models.Member, setting: Form[forms.MyPage])

@import helper._

@main("myPage", member) {
	@helper.form(action = routes.AdminController.saveChooserSetting()) {
		<div class="container">
		<h1 style='margin-top : 20px;'>マイページ</h1>
			<div class='row'>
				@helper.inputText(setting("memberName"),'_label -> "アカウント名")
				@helper.inputText(setting("mail"),'_label -> "メールアドレス")
				<p style='margin-top : 10px;'><a href='@routes.AdminController.modifyPassword()' target='_blank'>パスワードを変更</a></p>
			</div>
			<h3>カラーパレットの設定</h3>
			<div class="row">
				<div class="col-xs-4">
					@helper.inputRadioGroup(
            				setting("hsvpanel"),
            				options = helper.options(
            				("0","デフォルトのパレットに設定"),
            				("1","表示"),
            				("2","非表示")),
            				'_label -> "パレット1"
            		)
					<div id="hsvflat"></div>
					<script>
					$("#hsvflat").ColorPickerSliders({
							color: "rgb(36, 170, 242)",
							flat: true,
							sliders: false,
							swatches: false,
							hsvpanel: true
					});
					</script>
				</div>

				<div class="col-xs-4">
					@helper.inputRadioGroup(
            				setting("slider"),
            				options = helper.options(
            				("0","デフォルトのパレットに設定"),
            				("1","表示"),
            				("2","非表示")),
            				'_label -> "パレット2"
            		)
					<div id="hslflat"></div>
					<script>
					$("#hslflat").ColorPickerSliders({
							color: "rgb(36, 170, 242)",
							flat: true,
							order: {
									hsl: 1,
									cie: 2,
									preview: 3
							},
							swatches: false
					});
					</script>
				</div>

				<div class="col-xs-4">
					@helper.inputRadioGroup(
            				setting("swatche"),
            				options = helper.options(
            				("0","デフォルトのパレットに設定"),
            				("1","表示"),
            				("2","非表示")),
            				'_label -> "パレット3"
            		)
					<div id="flat"></div>
					<script>
					$("#flat").ColorPickerSliders({
							flat: true,
							sliders: false,
							invalidcolorsopacity: 0
					});
					</script>
				</div>

			</div>
			<input type="submit" value="設定を保存">
		</div>
	}
}