@(dto : dtos.PagingDto[Template], member : Member, snapShotsUrl : String)

@main("Color Scheme",member){ 
<div class='listContainer'>
	@if(member != null) {
		<div class="clearfix">
			<div class="tempFilter">
				<ul class="nav nav-tabs">
					<li role="presentation" id="allTemplate"><a href='@routes.Application.templates()'>
						全てのテンプレートを表示 
					</a></li>
					<li role="presentation" id="myTemplate" class="active"><a href='@routes.Application.templates()?type=member'>
						@(member.memberName)さんのテンプレートのみを表示
					</a></li>
				</ul>
			</div>
		</div>
	}
	<div id='templates_list'>
		<div class='clearfix'>
			@for((t, index) <- dto.data.zipWithIndex) {
				<div class="listImage">
					<div class="col-xs-3">
						@if(t.member != null){
							@if(t.member.nickName == null){
								<a onClick="showTempDetail('@t.templateId', '@snapShotsUrl');" id="@t.templateId" data-name="@t.templateName" data-message="@t.templateMessage" data-user="@t.member.memberName" href="#modal">
							}else{
								<a onClick="showTempDetail('@t.templateId', '@snapShotsUrl');" id="@t.templateId" data-name="@t.templateName" data-message="@t.templateMessage" data-user="@t.member.nickName" href="#modal">
							}
						}else{
							<a onClick="showTempDetail('@t.templateId', '@snapShotsUrl');" id="@t.templateId" data-name="@t.templateName" data-message="@t.templateMessage" data-user="anonymous" href="#modal">
						}
						<div>
							<img width='260' height='200' src='@(snapShotsUrl)/@(t.templateId).png'/>
						</div>
						<div class="tempName">
							@t.templateName
						</div>
							</a>	
					</div>
				</div>
			}
		</div>
	</div>
	<ul class="pager pager-margin">
		@dto.currentPage match {
	    	case i if i <= 1 => { <li class="previous disabled"><a href="#">&larr; 前へ</a></li> }
	    	case _ => { <li class="previous"><a href="@routes.Application.templates()?page=@(dto.currentPage - 1)">&larr; 前へ</a></li> }
		}
		@dto.currentPage match {
	    	case i if i >= dto.totalPage => { <li class="next disabled"><a href="#">次へ &rarr;</a></li> }
	    	case _ => { <li class="next"><a href="@routes.Application.templates()?page=@(dto.currentPage + 1)">次へ &rarr;</a></li> }
		}
	</ul>
</div>
}		