@(dto : dtos.PagingDto[Template], member : Member, snapShotsUrl : String)

@main("Color Scheme",member){ 
<div class='listContainer'>
	@if(member != null) {
		<div class="clearfix">
			<div class="tempFilter">
				<ul class="nav nav-tabs">
					<li role="presentation" id="allTemplate"><a href='@routes.Application.templates()'>
						全てのテンプレートを表示 
					</a></li>
					<li role="presentation" id="myTemplate" class="active"><a href='@routes.Application.templates()?type=member'>
						@(member.memberName)さんのテンプレートのみを表示
					</a></li>
				</ul>
			</div>
		</div>
	}
	<div id='templates_list'>
		<div class='clearfix'>
			@for((t, index) <- dto.data.zipWithIndex) {
				<div class="listImage">
					<div class="col-xs-3">
						@if(t.member != null){
							@if(t.member.nickName == null){
								<a onClick="showTempDetail('@t.templateId', '@snapShotsUrl');" id="@t.templateId" data-name="@t.templateName" data-message="@t.templateMessage" data-user="@t.member.memberName" href="#modal">
							}else{
								<a onClick="showTempDetail('@t.templateId', '@snapShotsUrl');" id="@t.templateId" data-name="@t.templateName" data-message="@t.templateMessage" data-user="@t.member.nickName" href="#modal">
							}
						}else{
							<a onClick="showTempDetail('@t.templateId', '@snapShotsUrl');" id="@t.templateId" data-name="@t.templateName" data-message="@t.templateMessage" data-user="anonymous" href="#modal">
						}
						<div>
							<img width='260' height='200' src='@(snapShotsUrl)/@(t.templateId).png'/>
						</div>
						<div class="tempName">
							@t.templateName
						</div>
							</a>	
					</div>
				</div>
			}
		</div>
	</div>
	<ul class="pager pager-margin">
		@dto.currentPage match {
	    	case i if i <= 1 => { <li class="previous disabled"><a href="#">&larr; 前へ</a></li> }
	    	case _ => { <li class="previous"><a href="@routes.Application.templates()?page=@(dto.currentPage - 1)">&larr; 前へ</a></li> }
		}
		@dto.currentPage match {
	    	case i if i >= dto.totalPage => { <li class="next disabled"><a href="#">次へ &rarr;</a></li> }
	    	case _ => { <li class="next"><a href="@routes.Application.templates()?page=@(dto.currentPage + 1)">次へ &rarr;</a></li> }
		}
	</ul>
	<div id="popUp">
		<div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
		  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
		  <div class="remodal-content">
		  	<h3 id="tempN"></h3>
		  	<img src='#' width="260" height="200" id="shumbPopup"/><br><br>
		  	作成者<br><input type="text" id="userN" readonly="true" size="40"></input><br><br>
		  	コメント<br><textarea id="tempM" rows="4" cols="40" readonly="true"></textarea><br><br>
			<button data-remodal-action="cancel" class="remodal-cancel">キャンセル</button>
		  	<a href="#" id="buttonToEdit"><button class="remodal-confirm">編集ページへ</button></a>
		  </div>
		</div>
	</div>
</div>
}		