@(dto : dtos.PagingDto[Template], member : Member, columns : Integer, snapShotsUrl : String)

@main("Color Scheme",member){ 
<div class='listContainer'>
	<script type="text/javascript">
		$(window).load(function(){
			$('#allTemp').addClass("active");
		});
	</script>
	@if(member != null) {
		<div class="clearfix">
			<div class="tempFilter">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href='@routes.Application.templates()'>
						全てのテンプレートを表示 
					</a></li>
					<li role="presentation"><a href='@routes.Application.templates()?type=member'>
						@(member.memberName)さんのテンプレートのみを表示
					</a></li>
				</ul>
			</div>
		</div>
	}
	<div id='templates_list'>
		<div class='clearfix'>
			@for((t, index) <- dto.data.zipWithIndex) {
				<div class="listImage">
					<div class="col-xs-3">
						<a href='@routes.Application.indexWithId(t.templateId)' target='_blank'>
							<div>
								<img width='260' height='200' src='@(snapShotsUrl)/@(t.templateId).png'/>
							</div>
							<div class="tempName">
								@t.templateName
							</div>
						</a>	
					</div>
				</div>
			}
		</div>
	</div>
	<ul class="pager pager-margin">
		@dto.currentPage match {
	    	case i if i <= 1 => { <li class="previous disabled"><a href="#">&larr; 前へ</a></li> }
	    	case _ => { <li class="previous"><a href="@routes.Application.templates()?page=@(dto.currentPage - 1)">&larr; 前へ</a></li> }
		}
		@dto.currentPage match {
	    	case i if i >= dto.totalPage => { <li class="next disabled"><a href="#">次へ &rarr;</a></li> }
	    	case _ => { <li class="next"><a href="@routes.Application.templates()?page=@(dto.currentPage + 1)">次へ &rarr;</a></li> }
		}
	</ul>
</div>
}		