@(templates : List[Template],zoom : String)

@main("Color Scheme",null){ 
	<div id='templates_list' style='margin-left : 40px; margin-top : 40px;'>
	@for((t, index) <- templates.zipWithIndex) {
		@if((index + 1) == 1 || ((index + 1) % 6 == 1)) {
			<div class='clearfix' style='margin-top : 10px;'>
		}
				<div style='float : left;'>
					<div style='margin-left : 20px;'>
					<a href='@routes.Application.indexWithId(t.templateId)' target='_blank'>
						<div>
							<img width='120' height='120' src='/assets/snapshots/@(t.templateId).png'/>
						</div>
						<div style='margin-left : 50px; margin-top : 10px;'>
							@t.templateName
						</div>
					</a>	
					</div>
				</div>
		@if((index + 1) % 6 == 0) {
			</div>
		}
	}
	@if(templates.size == 0 || templates.size / 6 != 0) {
		</div>
	}
	</div>
}				