@(templateForm: Form[forms.TemplateUpload],member : Member)

@implicitFieldConstructor = @{ helper.FieldConstructor(myhelper.formFieldConstructor.render) } 

@main("Color Scheme",member){
<div class='uploadContainer'>
	<h2>テンプレートアップロード</h2>
	<p class="explain">
	@if(member == null) {
		あなたの好きなhtmlファイルをアップロードできます。
	}	else	{
		あなたの好きな htmlファイル or 画像ファイル をアップロードできます。
	}
	</p>
	@helper.form(action = routes.Application.doUpload,
	'enctype -> "multipart/form-data") {
		@myhelper.inputFile(templateForm("tmpFileName"),'type -> "file")
		@helper.inputText(templateForm("templateName"),'_label -> "テンプレートの名前", 'size -> 70)
		@helper.textarea(templateForm("templateMessage"),'_label -> "テンプレートの説明", 'cols -> 70, 'rows -> 10)
		<input class='update-confirm btn btn-primary' type="submit" value="アップロード">
	}
</div>
}

				